[Unit]
Description=WordOps Panel - WordOps GUI
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/wordops-panel
Environment="PATH=/opt/wordops-panel/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/opt/wordops-panel/venv/bin/python3 /opt/wordops-panel/app/main.py
Restart=always

[Install]
WantedBy=multi-user.target
